---
swagger: "2.0"
info:
  description: "Our api provides access to our cloud services"
  version: "3.0.0"
  title: "KORONA.cloud API v3"
  contact:
    name: "support@combase.net"
  license:
    name: "KORONA.cloud API License"
    url: "https://support.korona.de/agb/"
host: "www.koronacloud.com"
basePath: "/web/api/v3"
tags:
- name: "inventories"
  description: "(KORONA.retail required)"
- name: "stock receipts"
  description: "(KORONA.retail required)"
- name: "accounts"
- name: "additional receipt info types"
- name: "assortments"
- name: "cashiers"
- name: "commodity groups"
- name: "currencies"
- name: "customer groups"
- name: "customer orders"
- name: "customers"
- name: "economic zones"
- name: "ticketing"
- name: "images"
- name: "info texts"
- name: "korona account"
- name: "organizational units"
- name: "payment methods"
- name: "points of sale"
- name: "price groups"
- name: "products"
- name: "receipts"
- name: "sales taxes"
- name: "sectors"
- name: "statistics"
- name: "suppliers"
- name: "tags"
paths:
  /accounts/{koronaAccountId}/accounts/{accountIdOrNumber}:
    get:
      tags:
      - "accounts"
      summary: "returns the single account"
      description: ""
      operationId: "getAccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "accountIdOrNumber"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/accounts:
    get:
      tags:
      - "accounts"
      summary: "lists all accounts"
      description: ""
      operationId: "getAccounts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListAccount"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/additionalReceiptInfoTypes/{additionalReceiptInfoTypeId}:
    get:
      tags:
      - "additional receipt info types"
      summary: "returns the single additional receipt info type"
      description: ""
      operationId: "getAdditionalReceiptInfoType"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "additionalReceiptInfoTypeId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AdditionalReceiptInfoType"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/additionalReceiptInfoTypes:
    get:
      tags:
      - "additional receipt info types"
      summary: "lists all additional receipt info types"
      description: ""
      operationId: "getAdditionalReceiptInfoTypes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListAdditionalReceiptInfoType"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/assortments/{assortmentId}:
    get:
      tags:
      - "assortments"
      summary: "returns the single assortment"
      description: ""
      operationId: "getAssortment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "assortmentId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Assortment"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/assortments:
    get:
      tags:
      - "assortments"
      summary: "lists all assortments"
      description: ""
      operationId: "getAssortments"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListAssortment"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/cashiers:
    get:
      tags:
      - "cashiers"
      summary: "lists all cashiers"
      description: ""
      operationId: "getCashiers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCashier"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/cashiers/{cashierIdOrNumber}:
    get:
      tags:
      - "cashiers"
      summary: "returns the single cashier"
      description: ""
      operationId: "getCashier"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "cashierIdOrNumber"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Cashier"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/commodityGroups/{commodityGroupId}:
    get:
      tags:
      - "commodity groups"
      summary: "returns the single commodity group"
      description: ""
      operationId: "getCommodityGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "commodityGroupId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CommodityGroup"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    delete:
      tags:
      - "commodity groups"
      summary: "deletes the single commodity group"
      description: ""
      operationId: "deleteCommodityGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "commodityGroupId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, delete on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "commodity groups"
      summary: "updates the single commodity group"
      description: ""
      operationId: "updateCommodityGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "commodityGroupId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "the properties to update of the commodity group"
        required: true
        schema:
          $ref: "#/definitions/CommodityGroup"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/commodityGroups:
    get:
      tags:
      - "commodity groups"
      summary: "lists all commodity groups"
      description: ""
      operationId: "getCommodityGroups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCommodityGroup"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    post:
      tags:
      - "commodity groups"
      summary: "adds a batch of new commodity groups"
      description: ""
      operationId: "addCommodityGroups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of new commodity groups"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/CommodityGroup"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "commodity groups"
      summary: "updates a batch of commodity groups"
      description: "[number] must be set in the objects, otherwise the object cannot\
        \ be updated"
      operationId: "updateCommodityGroups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of existing commodity groups"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/CommodityGroup"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/currencies/{currencyId}:
    get:
      tags:
      - "currencies"
      summary: "returns the single currency"
      description: ""
      operationId: "getCurrency"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "currencyId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Currency"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/currencies:
    get:
      tags:
      - "currencies"
      summary: "lists all currencies"
      description: ""
      operationId: "getCurrencies"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCurrency"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customerGroups/{customerGroupId}:
    get:
      tags:
      - "customer groups"
      summary: "returns the single customer group"
      description: ""
      operationId: "getCustomerGroup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerGroupId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomerGroup"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customerGroups:
    get:
      tags:
      - "customer groups"
      summary: "lists all customer groups"
      description: ""
      operationId: "getCustomerGroups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCustomerGroup"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customerOrders/{customerOrderId}:
    get:
      tags:
      - "customer orders"
      summary: "returns the single customer order"
      description: ""
      operationId: "getCustomerOrder"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerOrderId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CustomerOrder"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    delete:
      tags:
      - "customer orders"
      summary: "deletes the single customer order"
      description: ""
      operationId: "deleteCustomerOrder"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerOrderId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
        pattern: "(\\w+)?"
      - name: "number"
        in: "query"
        description: "number of the related object"
        required: false
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, delete on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "customer orders"
      summary: "updates the single customer order"
      description: ""
      operationId: "updateCustomerOrder"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerOrderId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "the properties to update of the customer order"
        required: true
        schema:
          $ref: "#/definitions/CustomerOrder"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customerOrders:
    get:
      tags:
      - "customer orders"
      summary: "lists all customer orders"
      description: ""
      operationId: "getCustomerOrders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "minCreateTime"
        in: "query"
        description: "min (inclusive) create time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "maxCreateTime"
        in: "query"
        description: "max (inclusive) create time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "minPickUpTime"
        in: "query"
        description: "min (inclusive) pick up time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "maxPickUpTime"
        in: "query"
        description: "max (inclusive) pick up time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCustomerOrder"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    post:
      tags:
      - "customer orders"
      summary: "adds a batch of new customer orders"
      description: ""
      operationId: "addCustomerOrders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of new customer orders"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/CustomerOrder"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "customer orders"
      summary: "updates a batch of customer orders"
      description: "[number] must be set in the objects, otherwise the object cannot\
        \ be updated"
      operationId: "updateCustomerOrders"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of existing customer orders"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/CustomerOrder"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customers/{customerId}:
    get:
      tags:
      - "customers"
      summary: "returns the single customer"
      description: ""
      operationId: "getCustomer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Customer"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    delete:
      tags:
      - "customers"
      summary: "deletes the single customer"
      description: ""
      operationId: "deleteCustomer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, delete on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "customers"
      summary: "updates the single customer"
      description: ""
      operationId: "updateCustomer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "customerId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "the properties to update of the customer"
        required: true
        schema:
          $ref: "#/definitions/Customer"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/customers:
    get:
      tags:
      - "customers"
      summary: "lists all customers"
      description: ""
      operationId: "getCustomers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListCustomer"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    post:
      tags:
      - "customers"
      summary: "adds a batch of new customers"
      description: ""
      operationId: "addCustomers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of new customers"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/Customer"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "customers"
      summary: "updates a batch of customers"
      description: "[number] must be set in the objects, otherwise the object cannot\
        \ be updated"
      operationId: "updateCustomers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "a array of existing customers"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/Customer"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/economicZones/{economicZoneId}:
    get:
      tags:
      - "economic zones"
      summary: "returns the single economic zone"
      description: ""
      operationId: "getEconomicZone"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "economicZoneId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EconomicZone"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/economicZones:
    get:
      tags:
      - "economic zones"
      summary: "lists all economic zones"
      description: ""
      operationId: "getEconomicZones"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListEconomicZone"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/entryGates:
    get:
      tags:
      - "ticketing"
      summary: "lists all entry gates"
      description: ""
      operationId: "getEntryGates"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListEntryGate"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/entryGates/{entryGateId}:
    get:
      tags:
      - "ticketing"
      summary: "returns the single entry gate"
      description: ""
      operationId: "getEntryGate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "entryGateId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EntryGate"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/events/{eventId}:
    get:
      tags:
      - "ticketing"
      summary: "return the single event"
      description: ""
      operationId: "getEvent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "eventId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Event"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/events:
    get:
      tags:
      - "ticketing"
      summary: "lists all events"
      description: ""
      operationId: "getEvents"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListEvent"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/images/{imageId}:
    get:
      tags:
      - "images"
      summary: "displays the image"
      description: ""
      operationId: "getImage"
      produces:
      - "image/png"
      - "image/jpg"
      parameters:
      - name: "imageId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/infoTexts:
    get:
      tags:
      - "info texts"
      summary: "lists all info texts"
      description: ""
      operationId: "getInfoTexts"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListInfoText"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/infoTexts/{infoTextId}:
    get:
      tags:
      - "info texts"
      summary: "returns the single info text"
      description: ""
      operationId: "getInfoText"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "infoTextId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/InfoText"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories/{inventoryId}/inventoryLists:
    get:
      tags:
      - "inventories"
      summary: "lists all inventory lists"
      description: ""
      operationId: "getInventoryInventoryLists"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "minCreateTime"
        in: "query"
        description: "min (inclusive) create time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "maxCreateTime"
        in: "query"
        description: "max (inclusive) create time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "minBookingTime"
        in: "query"
        description: "min (inclusive) booking time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "maxBookingTime"
        in: "query"
        description: "max (inclusive) booking time of the receipt (ISO 8601; date,\
          \ time and timezone)"
        required: false
        type: "string"
        format: "date-time"
      - name: "bookingStatus"
        in: "query"
        description: "booking status (possible values: BOOKED, IN_PROGRESS)"
        required: false
        type: "string"
        enum:
        - "BOOKED"
        - "IN_PROGRESS"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListInventoryList"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories/{inventoryId}:
    get:
      tags:
      - "inventories"
      summary: "returns the single inventory"
      description: ""
      operationId: "getInventory"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Inventory"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    delete:
      tags:
      - "inventories"
      summary: "deletes the single inventory (only allowed if hasBookedReceipts=false)"
      description: ""
      operationId: "deleteInventory"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, delete on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "inventories"
      summary: "updates the single inventory"
      description: ""
      operationId: "updateInventory"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "the properties to update of the inventory"
        required: true
        schema:
          $ref: "#/definitions/Inventory"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories/{inventoryId}/inventoryLists/{inventoryListId}:
    get:
      tags:
      - "inventories"
      summary: "returns the single inventory list"
      description: ""
      operationId: "getInventoryInventoryList"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/InventoryList"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "inventories"
      summary: "updates the single inventory list"
      description: ""
      operationId: "updateInventoryInventoryList"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "data to update"
        required: true
        schema:
          $ref: "#/definitions/InventoryList"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories/{inventoryId}/inventoryLists/{inventoryListId}/items/{productId}:
    get:
      tags:
      - "inventories"
      summary: "returns the single inventory list item"
      description: ""
      operationId: "getInventoryInventoryListItem"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "productId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/InventoryListItem"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    delete:
      tags:
      - "inventories"
      summary: "deletes the single inventory list item"
      description: ""
      operationId: "deleteInventoryInventoryListItem"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "productId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, delete on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "inventories"
      summary: "updates the single inventory list item"
      description: ""
      operationId: "updateInventoryInventoryListItem"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "productId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "data to update"
        required: true
        schema:
          $ref: "#/definitions/InventoryListItem"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        204:
          description: "Request successful, patch on single resource does not return\
            \ any content"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories/{inventoryId}/inventoryLists/{inventoryListId}/items:
    get:
      tags:
      - "inventories"
      summary: "lists all inventory list items"
      description: ""
      operationId: "getInventoryInventoryListItems"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListInventoryListItem"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    post:
      tags:
      - "inventories"
      summary: "adds inventory list items"
      description: ""
      operationId: "addInventoryInventoryListItems"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "data to update"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/InventoryListItem"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
    patch:
      tags:
      - "inventories"
      summary: "updates inventory list items (property [product] required))"
      description: ""
      operationId: "updateInventoryInventoryListItems"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "inventoryId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - name: "inventoryListId"
        in: "path"
        description: "id of the related object (important: id should match the uuid-format)"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "a array of inventory list items to update"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/InventoryListItem"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddOrUpdateResult"
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
          description: "Too many requests in a specified period"
          schema:
            $ref: "#/definitions/TooManyRequestsError"
      security:
      - basicAuth: []
  /accounts/{koronaAccountId}/inventories:
    get:
      tags:
      - "inventories"
      summary: "lists all inventories"
      description: ""
      operationId: "getInventories"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "number of the page to fetch"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        description: "amount of objects to return per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "sort"
        in: "query"
        description: "attribute to sort by (multiple separated by comma; max. 5)"
        required: false
        type: "string"
      - name: "revision"
        in: "query"
        description: "last revision number, objects with a greater revision than this\
          \ will be returned"
        required: false
        type: "integer"
        format: "int64"
      - name: "includeDeleted"
        in: "query"
        description: "indicates deleted objects should be loaded or not (default:\
          \ false)"
        required: false
        type: "boolean"
      - name: "koronaAccountId"
        in: "path"
        description: "account id of the korona.cloud account"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResultListInventory"
        204:
          description: "Request successful, but the list is empty. Either there is\
            \ in general no object on the list or a set filter/restriction in querystring\
            \ doesn't match any object."
        400:
          description: "Malformed querystring or model"
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: "Missing or invalid http-authentication"
        403:
          description: "Requested action is not allowed"
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: "Object not found"
          schema:
            $ref: "#/definitions/NotFoundError"
        405:
          description: "Method not allowed"
          schema:
            $ref: "#/definitions/MethodNotAllowedError"
        429:
[...]
